.internalbtn{
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-bottom:0;
	text-align:center;
	vertical-align:middle;
	color:#333333;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	background-color:#f5f5f5;
	background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);
	text-decoration: none;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	border-color:#e6e6e6 #e6e6e6 #bfbfbf;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border:1px solid #bbbbbb;
	*border:0;border-bottom-color:#a2a2a2;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*margin-left:.3em;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

.internalbtn:hover,.internalbtn:active,.internalbtn.active,.internalbtn.disabled,.internalbtn[disabled]{
	color:#333333;
	background-color:#FFF;
	*background-color:#FFCCFF;
	text-decoration: none;
}


.internalbtn:active,.internalbtn.active{
	background-color:#cccccc;
}

.internalbtn ul {
	list-style-type:none;
}

.internalbtn a {
	text-decoration: none;
}

.internalbtn a:hover {
	background-color:#FFF;*background-color:#FFF;
	color: #FF0000;
}

.app-detail {
	float: left;
	width: 320px;
	height: auto;
	margin-right: 2px;
	overflow: hidden;
	font-weight: bold;
}

.app-detail a:hover {
	text-decoration:none
}
.app-detail a {
	color: rgb(0, 0, 153);
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: none;	
}
.app-detail h1 {
	font-size: 2em;	
}

#the_box {
	z-index: 0;
	padding-right: 5px;
}

#the_box ul {
	list-style-type:none;
}

#the_box  li {
	list-style-type:none;
	float: left;
	width: 25em;
	min-height: 15em;
	background: rgba(255,255,255,0.75);
	margin: 0.1em 0.5em 0.1em 0.1em;
	padding: 0.31em 0.7em 0.31em 0.7em;
	z-index: 0;
}

#the_box h2 {
	font-size: 1.2em;
	line-height: 22px;
	margin: 0 0 10px 0;
}

.box_header {
 	padding-top: 1em;
  	font-weight: 600;
  	color: #000000;
  	background-color: #CCCCCC;
  	text-align: center;
  	height: 35px;
}

.box_text {
  	text-align: left;
}

#scheduler-logo {
	width: 100%;
    height: 64px;
    background: #ccc url(../images/mailingList/scheduler.png) no-repeat top right;
    float: right;
}

#attachment-logo {
	width: 100%;
    height: 64px;
    background: #ccc url(../images/mailingList/Email-Attachment.png) no-repeat top right;
    float: right;
}

#templates-logo {
	width: 100%;
    height: 64px;
    background: #ccc url(../images/mailingList/templates.png) no-repeat top right;
    float: right;
}
#mailinglistcat-logo {
	width: 100%;
    height: 64px;
    background: #ccc url(../images/mailingList/mailing-categories.png) no-repeat top right;
    float: right;
}

#mailinglist-logo {
	width: 100%;
    height: 64px;
    background: #ccc url(../images/mailingList/mailing-list.png) no-repeat top right;
    float: right;
}

#mailinglistsenders-logo {
	width: 100%;
    height: 64px;
    background: #ccc url(../images/mailingList/email_sender.jpg) no-repeat top right;
    float: right;
}

#csv-logo {
	width: 100%;
    height: 64px;
    background: #ccc url(../images/mailingList/csv-import.png) no-repeat top right;
    float: right;
}

#scheduled-email-logo {
	width: 100%;
    height: 64px;
    background: #AAA url(../images/mailingList/scheduler.png) no-repeat bottom right;
    float: right;
}

#boxbtn {
	margin-top: 0px;
	padding:1px;
	border:1px;
	color: #333;
	font-size: 0.7em;

	background-color: transparent;
	box-shadow:
        inset 0 2px 3px rgbargba(248, 248, 248, 1),
        inset 0 -2px 3px rgbargba(248, 248, 248, 1),
        0 1px 1px rgbargba(248, 248, 248, 1);
}
.clearall{
     clear: both;
}


/* Contact Area for emailing */
#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-size: 1.1em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}


.tab_opt{
	margin:0 0 15px 0;
	border-bottom:1px solid #cfcfcf;
	text-align:right;
	padding-right:10px
}

.tab_opt li{
	margin:0 5px -1px 0;
	vertical-align:bottom;
	display:inline-block;
}

.tab_opt a{
	-webkit-border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	border:1px solid #c0c0c0;
	display:block;
	background-color:#ececec;
	padding:0 10px;
	line-height:24px;
	color:#333;
}

.tab_opt a:hover{
	background-color:#ff0000;
	color:white
}

.tab_opt a.active{
	border-bottom-color:white;
	background-color:white;
	line-height:26px;
	color:black
}

.tab_opt a.highlight{
	color:red
}

.tabBar{
	margin-top: -27px;
	margin-bottom:15px;
	border-bottom:1px solid #ff0079;
	padding-right:10px;
	text-align:right
}

.mail-id {
	display: block;
	background:#FEE; 
}
.mail-from {
	display: block;
	background:#EEE;
}
.mail-subject {
	display: block;
	background:#EEE;
}
.mail-completed{
	display: block;
	background:#FEE; 
}


.tbutton {
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: content-box !important;
	color: #333;
	width: auto;
	display: inline-block;
    *zoom: 1;
    *display: inline;
	padding: 0.01em 0.02em;
	text-align: center;
	/*text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.4);*/
	text-decoration: none;

	white-space: normal;
	outline: none; 
	/* Transition */
	-moz-transition: all 200ms ease 0ms !important;
	-o-transition: all 200ms ease 0ms !important;
	-webkit-transition: all 200ms ease 0ms !important;
	/* Background Color */
	background: none repeat scroll 0 0 rgba(255,255,255,0.04);
	/* Border Rounding */
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	/* Background Clipping */
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	/* Shadow */
	box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-moz-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-webkit-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10x 10px rgba(255,255,255,0.08) inset;
	box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
}

.inline {
		display: inline-block;
    *zoom: 1;
    *display: inline;
}
#attachements ul {
    border:1px solid Black;
    width:200px;
    height:200px;
    display:inline-block;
    vertical-align:top
}
#attachements li {
    background-color:Azure;
    border-bottom:1px dotted Gray
}
#attachements li.selected {
    background-color:GoldenRod
}












/* VH */



#loginBox66 { 
	color: #FFF;
color: rgb(255, 255, 255);
/*margin-right: 2em;*/
/*top:1em;*/
/*background-color: rgb(61, 61, 61);*/
padding: 1em;
/*box-shadow: 0px 0px 3px 1px rgb(170, 170, 170);*/
/*border-radius: 61px 61px 61px 61px;*/
font-size: 0.8em;
margin-top: -5px;		
}
/*
.loginBox {
	position:absolute;
	right:0px;
	top:4px;
}
*/

.loginBox {
	position:absolute;
	right:0px;
	top:4px;
}


#loginBox { 
	color: #FFF;
color: rgb(255, 255, 255);
margin-right: 2em;
top:0em;
background-color: #000;
padding: 1em;
/*box-shadow: 0px 0px 3px 1px rgb(170, 170, 170);*/
/*border-radius: 61px 61px 61px 61px;*/
font-size: 0.8em;
		
}


.smallheading {
	
}

#loginBox  a { 
	color: #FF0000;	
	text-decoration: none;		
}

#loginBox  a:hover { 
	background-color: #CCC;	
	color: #FF0000;	
	text-decoration: none;
	
}

#loginbtn {
	margin-top: 2px;
	padding:2px;
	border:1px;
	color: #FFF;
	background-color: #444444;
	box-shadow:
        inset 0 2px 3px rgba(5,5,255,0.5),
        inset 0 -2px 3px rgba(0,0,0,0.5),
        0 1px 1px rgba(5,5,255,1.9);
}

#boxbtn {
	margin-top: 0px;
	padding:1px;
	border:1px;
	color: #333;
	font-size: 0.7em;

	background-color: transparent;
	box-shadow:
        inset 0 2px 3px rgbargba(248, 248, 248, 1),
        inset 0 -2px 3px rgbargba(248, 248, 248, 1),
        0 1px 1px rgbargba(248, 248, 248, 1);
}

#boxbtnlink {
	margin-top: 0px;
	padding:1px;
	border:1px;
	color: #0000DD;
	
	background-color: transparent;
	box-shadow:
        inset 0 2px 3px rgba(248, 248, 248, 1),
        inset 0 -2px 3px rgba(248, 248, 248, 1),
        0 1px 1px rgbargba(248, 248, 248, 1);
}

#boxbtn1 {
	background-color: #FFF;
	color: #333333;
	
	background-color: transparent;
	
}

button.boxbtn1 a {
	color: #FF000;
	
	background-color: transparent;
	
}

button.boxbtn1 a:hover{
	color: #00000;
	
	background-color: transparent;
	
}

#logsout { 
	width: 98%;
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-bottom:0;
	text-align:left;
	vertical-align:top;
	color:#000;
	
	background-color:#f5f5f5;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	overflow:scroll;
}
.whitefont {
	color: #FFF;
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding-right: 2px;
}

#searchBox {
	margin-bottom:20px;
}

#siteContent {
	padding-top: 2em;
	
}

.serverheading {
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-bottom:0;
	text-align:center;
	vertical-align:middle;
	color:#333333;
	width: auto;
	width: auto \9;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	background-color:#f5f5f5;
	background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);
	text-decoration: none;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	border-color:#e6e6e6 #e6e6e6 #bfbfbf;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border:1px solid #bbbbbb;
	*border:0;border-bottom-color:#a2a2a2;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*margin-left:.3em;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

.internalbtn{
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-bottom:0;
	text-align:center;
	vertical-align:middle;
	color:#333333;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	background-color:#f5f5f5;
	background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);
	text-decoration: none;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	border-color:#e6e6e6 #e6e6e6 #bfbfbf;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border:1px solid #bbbbbb;
	*border:0;border-bottom-color:#a2a2a2;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*margin-left:.3em;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

.internalbtn:hover,.internalbtn:active,.internalbtn.active,.internalbtn.disabled,.internalbtn[disabled]{
	color:#333333;
	background-color:#FFF;
	*background-color:#FFCCFF;
	text-decoration: none;
}

.internalbtn:active,.internalbtn.active{
	background-color:#cccccc;
}
.toplist ul {
	list-style-type:none;
}
.toplist li {
	list-style-type:none;
}


.internalbtn ul {
	list-style-type:none;
}

.internalbtn a {
	text-decoration: none;
}

.internalbtn a:hover {
	background-color:#FFF;*background-color:#FFF;
	color: #FF0000;
	
}



.serverheading h1 {
		text-transform: uppercase;
	font-wight: bold;
	font-size: 1.4em;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 10px;
	
}
#searchFormh1 h1 {
	color: #FFF;
	font-wight: bold;
	font-size: 1.2em;
	margin-top: -3px;
	z-index: 1099;
	text-align: center;
}

.serverheading h1 a {
	
	color: #0000FF;
	
}

.serverheading h1 a:hover {
	background-color:#FFF;*
	background-color:#FFF;
	color: #FF0000;
	
}
.internalbtn h3 {
	font-wight: bold;
	font-size: 1.2em;
}

.internalbtn h9 {
	font-wight: bold;
	font-size: 1.5em;
}

.internalbtn2{
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-bottom:0;
	text-align:center;
	vertical-align:middle;color:#333333;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	background-color:#000;
	background-image:-moz-linear-gradient(top, #ffffff, #CCCCFF);
	text-decoration: none;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#CCCCFF));
	background-image:-webkit-linear-gradient(top, #ffffff, #CCCCFF);
	background-image:-o-linear-gradient(top, #ffffff, #CCCCFF);
	background-image:linear-gradient(to bottom, #ffffff, #CCCCFF);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#CCCCFF', GradientType=0);
	border-color:#CCCCFF #CCCCFF #bfbfbf;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color:#CCCCFF;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border:1px solid #bbbbbb;
	*border:0;
	border-bottom-color:#a2a2a2;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*margin-left:.3em;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

.internalbtn2:hover,.internalbtn:active,.internalbtn.active,.internalbtn.disabled,.internalbtn[disabled]{
	color:#333333;
	background-color:#FFF;
	*background-color:#CCCCFF;
	text-decoration: none;
}

.internalbtn2:active,.internalbtn.active{
	background-color:#CCCCFF;
}

.internalbtn2 a {
	text-decoration: none;
}

.internalbtn2 a:hover {
	*background-color:#FFF;
	color: #FF0000;
	font-weight:bold;
}
.internalbtn h9 {
	font-wight: bold;
	font-size: 1.5em;
}


.app-purple {
	float: left;
	
	width: 320px;
	height: 64px;
	margin-right: 2px;
	overflow: hidden;
	font-weight: bold;
	margin-top: 20px;
}



.box-detail {
	float: left;
	
	width: 320px;
	height: 64px;
 	margin-right: 2px;
	overflow: hidden;
	font-weight: bold;
	margin-top: 5px;
}


.heading-detail {
	float: left;
	font-size: 2em;
	font-weight: bold;
	width: 320px;
	height: 64px;
	margin-right: 2px;
	overflow: hidden;
	font-weight: bold;
	
}



.app-detail {
	float: left;
	
	width: 320px;
	height: 64px;
	margin-right: 2px;
	overflow: hidden;
	font-weight: bold;
	margin-top: 20px;
}

.app-detail-heading {
	float: left;
	
	width: 320px;
	height: 64px;
 	margin-right: 2px;
	overflow: hidden;
	font-weight: bold;
 	margin-top: 5px;
}

.app-detail-green {
	float: left;
	
	width: 320px;
	height: 64px;
 	margin-right: 2px;
	overflow: hidden;
	font-weight: bold;
	margin-top: 20px;
}

.green {
	background-color: #A3FEBA;	
}
.orange { 
	background-color: #FFCC99;
}
	
.red {
	background-color: #FFC8C8;
}
#redfg {
	color: #FF0000;
}
#bluefg {
	color: #0000FF;
}
#greenfg {
	color: #009933;
}
.app-detail2 {
	background-color: #AAA;
	width: auto;
}

.app-detail2 a:hover {	
	font-weight: normal;
}

.app-detail3 {

	width: 100%;
}

.app-detail3 a:hover {
	font-weight: normal;
}

#userpermissions-logo {
	width: 385px;
    height:64px;
    background: #DBEBFF;
    float: right;
}

#permissions-logo {
	width: 385px;
    height:64px;
    background: #FFDD75;
    float: right;
}

#permaction-logo {
	width: 385px;
    height:64px;
    background: #cfc;
    float: right;
}


.sapp-detail {
	display: block;
	
	width:  98%;
	min-height: 64px;
	height: auto \9;
    margin-right: 2px;
 	overflow: hidden;
	font-weight: bold;
	margin-top: 20px;
}




.close{
	float:right;
	font-size:1.5em;
	font-weight:bold;
	line-height:20px;
	color:#000000;
	text-shadow:0 1px 0 #ffffff;
	opacity:0.2;
	filter:alpha(opacity=20);
}

.close:hover{
	color:#000000;
	text-decoration:none;
	opacity:0.4;
	filter:alpha(opacity=40);
}

button.close{
	padding:0;
	background:transparent;
	border:0;
	-webkit-appearance:none;
}
#formmsg {
	display: inline-block;
	
	
}
.pull-right{
	float:right;
}

.pull-left{
	float:left;
}

.hide{
	display:none;
}

.show{
	display:block;
}

.invisible{
	visibility:hidden;
}

.affix{
	position:fixed;
}

.fade{
	opacity:0;
	-webkit-transition:opacity 0.15s linear;
	-moz-transition:opacity 0.15s linear;
	-o-transition:opacity 0.15s linear;
	transition:opacity 0.15s linear;
}

.fade.in{
	opacity:1;
}

.collapse{
	position:relative;
	height:0;
	overflow:hidden;
	overflow:visible \9;
	-webkit-transition:height 0.35s ease;
	-moz-transition:height 0.35s ease;
	-o-transition:height 0.35s ease;
	transition:height 0.35s ease;
}

.collapse.in{
	height:auto;
}

.hidden{
	display:none;
	visibility:hidden;
}

.visible-phone{
	display:none !important;
}

.visible-tablet{
	display:none !important;
}

.hidden-desktop{
	display:none !important;
}

.visible-desktop{
	display:inherit !important;
}

.btn{
	display:inline-block;
	*display:inline;
	*zoom:1;
	float: left;
	padding: 10px;
	margin-bottom:0;
	font-size:1.1em;
	text-align:center;
	vertical-align:middle;
	color:#333333;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	background-color:#f5f5f5;
	background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	border-color:#e6e6e6 #e6e6e6 #bfbfbf;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color:#e6e6e6;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border:1px solid #bbbbbb;
	*border:0;
	border-bottom-color:#a2a2a2;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*margin-left:.3em;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	text-decoration: none;	
}

.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{
	color:#FF0000;
	background-color:#FFF;
	*background-color:#FFF;
}

.btn:active,.btn.active{
	background-color:#FFF;
}

.btn:first-child{
	*margin-left:0;
}

.btn:hover{
	color:#FF0000;
	text-decoration:none;
	background-color:#e6e6e6;
	*background-color:#d9d9d9;
	background-position:0 -15px;
	-webkit-transition:background-position 0.1s linear;
	-moz-transition:background-position 0.1s linear;
	-o-transition:background-position 0.1s linear;
	transition:background-position 0.1s linear;
}

.btn:focus{
	outline:thin dotted #333;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px;
}

.btn.active,.btn:active{
	background-color:#FFF;
	*background-color:#FFF;
	background-image:none;
	outline:0;
	-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}

.btn.disabled,.btn[disabled]{
	cursor:default;
	background-color:#e6e6e6;
	background-image:none;
	opacity:0.65;filter:alpha(opacity=65);-
	webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.btn-large{
	padding:9px 14px;
	font-size:1.2em;
	line-height:normal;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.btn-large [class^="icon-"]{
	margin-top:2px;
}

.btn-small{
	padding:3px 9px;
	
	line-height:18px;
}

.btn-small [class^="icon-"]{
	margin-top:0;
}

.btn-mini{
	padding:2px 6px;
	line-height:16px;
}

.btn-block{
	display:block;
	width:100%;
	padding-left:0;
	padding-right:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.btn-block+.btn-block{
	margin-top:5px;
}

.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active{
	color:rgba(255, 255, 255, 0.75);
}

.btn{
	border-color:#c5c5c5;
	border-color:rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

.btn-primary{
	color:#ffffff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#006dcc;
	background-image:-moz-linear-gradient(top, #0088cc, #0044cc);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image:-webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image:-o-linear-gradient(top, #0088cc, #0044cc);
	background-image:linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	border-color:#0044cc #0044cc #002a80;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color:#0044cc;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{
	color:#ffffff;
	background-color:#0044cc;
	*background-color:#003bb3;
}

.btn-primary:active,.btn-primary.active{
	background-color:#003399 \9;
}

.btn-warning{
	color:#ffffff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#faa732;
	background-image:-moz-linear-gradient(top, #fbb450, #f89406);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
	background-image:-webkit-linear-gradient(top, #fbb450, #f89406);
	background-image:-o-linear-gradient(top, #fbb450, #f89406);
	background-image:linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
	border-color:#f89406 #f89406 #ad6704;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color:#f89406;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-warning:hover,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{
	color:#ffffff;
	background-color:#f89406;
	*background-color:#df8505;
}

.btn-warning:active,.btn-warning.active{
	background-color:#c67605 \9;
}

.btn-danger{
	color:#ffffff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#da4f49;
	background-image:-moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
	background-image:-webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image:-o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image:linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	border-color:#bd362f #bd362f #802420;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color:#bd362f;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-danger:hover,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]{
	color:#ffffff;
	background-color:#bd362f;
	*background-color:#a9302a;
}

.btn-danger:active,.btn-danger.active{
	background-color:#942a25 \9;
}

.btn-success{
	color:#ffffff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#5bb75b;
	background-image:-moz-linear-gradient(top, #62c462, #51a351);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
	background-image:-webkit-linear-gradient(top, #62c462, #51a351);
	background-image:-o-linear-gradient(top, #62c462, #51a351);
	background-image:linear-gradient(to bottom, #62c462, #51a351);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	border-color:#51a351 #51a351 #387038;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color:#51a351;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{
	color:#ffffff;
	background-color:#51a351;
	*background-color:#499249;
}

.btn-success:active,.btn-success.active{
	background-color:#408140 \9;
}

.btn-info{
	color:#ffffff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#49afcd;
	background-image:-moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
	background-image:-webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image:-o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image:linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
	border-color:#2f96b4 #2f96b4 #1f6377;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color:#2f96b4;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-info:hover,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{
	color:#ffffff;
	background-color:#2f96b4;
	*background-color:#2a85a0;
}

.btn-info:active,.btn-info.active{
	background-color:#24748c \9;
}

.btn-inverse{
	color:#ffffff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#363636;
	background-image:-moz-linear-gradient(top, #444444, #222222);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
	background-image:-webkit-linear-gradient(top, #444444, #222222);
	background-image:-o-linear-gradient(top, #444444, #222222);
	background-image:linear-gradient(to bottom, #444444, #222222);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
	border-color:#222222 #222222 #000000;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color:#222222;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-inverse:hover,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled]{
	color:#ffffff;
	background-color:#222222;
	*background-color:#151515;
}

.btn-inverse:active,.btn-inverse.active{
	background-color:#080808 \9;
}

button.btn,input[type="submit"].btn{
	*padding-top:3px;
	*padding-bottom:3px;
}

button.btn::-moz-focus-inner,input[type="submit"].btn::-moz-focus-inner{
	padding:0;border:0;
}

button.btn.btn-large,input[type="submit"].btn.btn-large{
	*padding-top:7px;
	*padding-bottom:7px;
}

button.btn.btn-small,input[type="submit"].btn.btn-small{
	*padding-top:3px;
	*padding-bottom:3px;
}

button.btn.btn-mini,input[type="submit"].btn.btn-mini{
	*padding-top:-5px;
	*padding-bottom:1px;
}
.btn-link,.btn-link:active{
	background-color:transparent;
	background-image:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.btn-link{
	border-color:transparent;
	color:#0088cc;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

.btn-link:hover{
	color:#005580;
	text-decoration:underline;
	background-color:transparent;
}

[class^="icon-"],[class*=" icon-"]{
	display:inline-block;
	width:14px;
	height:14px;
	*margin-right:.3em;
	line-height:14px;
	vertical-align:text-top;
	background-image:url("../images/bootstrap/glyphicons-halflings.png");
	background-position:14px 14px;
	background-repeat:no-repeat;
	margin-top:1px;
}

.icon-white,.nav>.active>a>[class^="icon-"],.nav>.active>a>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^="icon-"],.dropdown-menu>li>a:hover>[class*=" icon-"],.dropdown-menu>.active>a>[class^="icon-"],.dropdown-menu>.active>a>[class*=" icon-"]{
	background-image:url("../images/bootstrap/glyphicons-halflings-white.png");
	}

.btn-mini{
	margin-top:-15px; float: right; 
}

#btn a {
	color:#FF0000;
}




div[class*="embossed"] {
	display: inline-block;
 	position:relative;
    list-style-type:none;
	float: left;
	width: 385px;
	min-height: 130px;
	background: rgba(255,255,255,0.75);
	border: 1px solid rgba(255,255,255,1);
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 5px #c6c6bf;
	-khtml-box-shadow: 0px 0px 5px #c6c6bf;
	-webkit-box-shadow: 0px 0px 5px #c6c6bf;
	box-shadow: 0px 0px 5px #c6c6bf;
	margin: 30px 15px 20px 15px;
	padding: 15px;
}
 
.embossed-light {
    border: 1px solid rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.7);
}
 
.embossed-heavy {
	display: inline-block;
 	position:relative;
 	margin: 10px auto;
    background-image: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,0));
	padding:  0.4em 0.4em 0.4em 0.4em;
    border: 1px solid rgba(0,0,0,0.05);
    width: 300px;
    box-shadow:
        inset 0 2px 3px rgba(255,255,255,0.3),
        inset 0 -2px 3px rgba(0,0,0,0.3),
        0 1px 1px rgba(255,255,255,0.9);
}


.heavyserver {
    list-style-type:none;
	float: left;
	width: 95%;
	display: inline-block;
 	position:relative;
 	margin: 10px auto;
   /* background-image: linear-gradient(rgba(255, 238, 251, 1),rgba(202, 255, 216, 1), rgba(196, 171, 254, 1));*/
    
  /* background-image: linear-gradient(rgba(192,192,195,0.11),rgba(192,192,192,7), rgba(192,192,192,0.3), rgba(192,192,192,0.1));*/
   /*  background-image: linear-gradient(rgba(192,192,195,0.11),rgba(192,192,192,7),rgba(196, 171, 254, 1), rgba(192,192,192,0.1));*/
 background-image: linear-gradient(rgba(192,192,195,0.11),rgba(192,192,192,7), rgba(192,192,192,0.3), rgba(192,192,192,0.1));
	padding:  0.4em 0.4em 0.4em 0.4em;
    border: 1px solid rgba(0,0,0,0.05);
    box-shadow:
        inset 0 2px 3px rgba(255,255,255,0.3),
        inset 0 -2px 3px rgba(0,0,0,0.3),
        0 1px 1px rgba(255,255,255,0.9);
        margin-right: 10px;
        margin-left: 10px;
}

.heavy1 {
    list-style-type:none;
	float: left;
	width: 600px;
	display: inline-block;
 	position:relative;
 	margin: 10px auto;
    background-image: linear-gradient(rgba(192,192,195,0.11),rgba(192,192,192,7), rgba(192,192,192,0.3), rgba(192,192,192,0.1));
    padding:  0.4em 0.4em 0.4em 0.4em;
    border: 1px solid rgba(0,0,0,0.05);
    box-shadow:
        inset 0 2px 3px rgba(255,255,255,0.3),
        inset 0 -2px 3px rgba(0,0,0,0.3),
        0 1px 1px rgba(255,255,255,0.9);
        margin-right: 10px;
        margin-left: 10px;
}

.heavy3 {
    list-style-type:none;
	float: left;
	width: auto;
	display: inline-block;
 	position:relative;
 	margin: 10px auto;
    background-image: linear-gradient(rgba(255, 238, 251, 1),rgba(202, 255, 216, 1), rgba(196, 171, 254, 1));
	padding:  0.4em 0.4em 0.4em 0.4em;
    border: 1px solid rgba(0,0,0,0.05);
    box-shadow:
        inset 0 2px 3px rgba(255,255,255,0.3),
        inset 0 -2px 3px rgba(0,0,0,0.3),
        0 1px 1px rgba(255,255,255,0.9);
        margin-right: 10px;
        margin-left: 10px;
}
.heavy4 {
    list-style-type:none;
	float: left;
	width: 800px;

	display: inline-block;
 	position:relative;
 	margin: 10px auto;
    background-image: linear-gradient(rgba(255, 238, 251, 1),rgba(202, 255, 216, 1), rgba(196, 171, 254, 1));
	padding:  0.4em 0.4em 0.4em 0.4em;
    border: 1px solid rgba(0,0,0,0.05);
    box-shadow:
        inset 0 2px 3px rgba(255,255,255,0.3),
        inset 0 -2px 3px rgba(0,0,0,0.3),
        0 1px 1px rgba(255,255,255,0.9);
        margin-right: 10px;
        margin-left: 10px;
}
.heavy2 {
    list-style-type:none;
	float: left;
	width: 95%;
	min-width: 50%;
	display: inline-block;
 	position:relative;
 	margin: 10px auto;
    background-image: linear-gradient(rgba(255, 238, 251, 1),rgba(202, 255, 216, 1), rgba(196, 171, 254, 1));
	padding:  0.4em 0.4em 0.4em 0.4em;
    border: 1px solid rgba(0,0,0,0.05);
    box-shadow:
        inset 0 2px 3px rgba(255,255,255,0.3),
        inset 0 -2px 3px rgba(0,0,0,0.3),
        0 1px 1px rgba(255,255,255,0.9);
        margin-right: 10px;
        margin-left: 10px;
}
.box-internal {
	display: block;
 	position: absolute;
    background-image: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,0));
    border: 1px solid rgba(0,0,0,0.05);
    width: 360px;
    box-shadow:
        inset 0 2px 3px rgba(255,255,255,0.3),
        inset 0 -2px 3px rgba(0,0,0,0.3),
        0 1px 1px rgba(255,255,255,0.9);
   	min-height: 130px;
	background: rgba(255,255,255,0.75);
	border: 1px solid rgba(255,255,255,1);
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 5px #c6c6bf;
	-khtml-box-shadow: 0px 0px 5px #c6c6bf;
	-webkit-box-shadow: 0px 0px 5px #c6c6bf;
	box-shadow: 0px 0px 5px #c6c6bf;
	margin: 5px 5px 5px -10px;
	padding: 9px;
}

div[class*="internal"] {
	display: inline-block;
 	position:relative;
   	background-image: radial-gradient(center 0, circle farthest-corner, rgba(255,255,255,0.4), rgba(255,255,255,0));
	width: 385px;
    color: #333;
    text-shadow: 0px 5px 5px rgba(0,0,0,0.1),
                 1px 2px 5px rgba(0,0,0,0.05),
                 -1px 2px 5px rgba(0,0,0,0.05);
}

.internal {
	display: block;
	margin-bottom: 1em;
	padding:  0.1em 0.1em 1em;
    border: 1px solid rgba(0,0,0,0.05);
    width: 300px;
    background-image: radial-gradient(center 0, circle farthest-corner, rgba(0,0,0,0.15), rgba(0,0,0,0));
    box-shadow: 0 0 0 1px #a27b62;
}

div[class*="instances"] {
	float:left;
 	position:relative;
  	background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
   	width: 385px;
    color: #000;
    text-shadow: 0 1px 1px rgba(255,255,255,0.9);
    text-decoration: none;
}

.instances {
	display: block;
	margin-bottom: 1em;
	padding:  0.1em 0.1em 0.1em 0.1em;
    border: 1px solid rgba(0,0,0,0.05);
    width: auto;
    box-shadow: 0 0 0 1px #a27b62;
}

.instances a {
	text-decoration: none;        
}

.appinfo {
	margin-bottom: 1em;
	padding:  0.1em 0.1em 0.1em 0.1em;
    border: 1px solid rgba(0,0,0,0.05);
    width: auto;
    box-shadow: 0 0 0 1px #a27b62;
	float:left;
 	position:relative;
  	background-color: #EEE;
   	width: 385px;
    color: 	#333 ;
    text-shadow: 0 0px 1px rgba(255,255,255,0.9);
    text-decoration: none;
}
.appinfo a {
	text-decoration: none;     
	color:    	#F80000 ; 
}


#box {
  	display: inline-block;
 	position:relative;
  	width: 300px;
  	background: #ddd;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
  	padding: 2em 1.5em;
  	color: rgba(0,0,0, .8);
  	text-shadow: 0 1px 0 #fff;
  	line-height: 1.5;
  	margin: 60px auto;
}


#box:before, #box:after {
  	z-index: -1; 
  	position: absolute; 
  	content: "";
  	bottom: 15px;
  	left: 10px;
  	width: 50%; 
  	top: 80%;
  	max-width:300px;
  	background: rgba(0, 0, 0, 0.7); 
  	-webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);   
  	-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  	-webkit-transform: rotate(-3deg);    
  	-moz-transform: rotate(-3deg);   
  	-o-transform: rotate(-3deg);
  	-ms-transform: rotate(-3deg);
  	transform: rotate(-3deg);
}

#box:after {
  	-webkit-transform: rotate(3deg);
  	-moz-transform: rotate(3deg);
  	-o-transform: rotate(3deg);
  	-ms-transform: rotate(3deg);
  	transform: rotate(3deg);
  	right: 10px;
  	left: auto;
}


#status {
	background-color: #eee;
	border: .2em solid #fff;
	margin: 2em 2em 1em;
	padding: 1em;
	width: 15em;
	float: left;
	-moz-box-shadow: 0px 0px 1.25em #ccc;
	-webkit-box-shadow: 0px 0px 1.25em #ccc;
	box-shadow: 0px 0px 1.25em #ccc;
	-moz-border-radius: 0.6em;
	-webkit-border-radius: 0.6em;
	border-radius: 0.6em;
}

.ie6 #status {
	display: inline; /* float double margin fix http://www.positioniseverything.net/explorer/doubled-margin.html */
}

#status ul {
	
	list-style-type: none;
	margin-bottom: 0.6em;
	padding: 0;
}

#status li {
	line-height: 1.3;
}


#the_box1 {
	z-index: 0;
}

#the_box1 ul {
	list-style-type:none;
}



#the_box1 li {
	list-style-type:none;
	float: left;
	width: 385px;
	min-height: 360px;
	margin: 1em;
	padding: 1em;
	z-index: 0;
}


#the_box1 h2 {
	font-size: 1.2em;
	line-height: 22px;
	margin: 0 0 10px 0;
}

.box_header {
 	padding-top: 1em;
  	font-weight: 600;
  	color: #000000;
  	background-color: #CCCCCC;
  	text-align: center;
  	height: 35px;
}

.box_text {
  	text-align: left;
}

#status h1 {
	text-transform: uppercase;
	font-size: 1.1em;
	margin: 0 0 0.3em;
}

#page-body {
	margin: 2em 1em 1.25em 18em;
}

h2 {
	margin-top: 1em;
	margin-bottom: 0.3em;
	
}

p {
	line-height: 1.5;
	margin: 0.25em 0;
}

#controller-list ul {
	list-style-position: inside;
}

#controller-list li {
	line-height: 1.3;
	list-style-position: inside;
	margin: 0.25em 0;
}

@media screen and (max-width: 480px) {
	#status {
			display: none;
	}

	#page-body {
			margin: 0 1em 1em;
	}

	#page-body h1 {
			margin-top: 0;
	}
}
			
			
.clearall{
     clear: both;
}

.drawline{
	clear: both;
	border-bottom: solid #CCCCCC;
	border-bottom-width: 1px;
	width: 506px;
}

.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}


#buildHistoryBoxD {
	
}

#buildHistoryBoxE {
	z-index: 2050;
	
}

div[id*="buildHistoryBoxG"] {
	clear: both;
 	
	display: block;
	position: absolute;
	z-index: 2050;
	width: auto;
	height: auto;
	margin-top: 100px;
	background-color: #4b545f;
}

div[id*="buildHistoryBoxG"] a {
 	color: #FF0000;
}

	
/***** Normal Button Style *****/
/***** -webkit-appearence: none; *****/

.tbutton200 {
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: content-box !important;
	color: #333;
	width: 98%;
	display: inline-block;
    *zoom: 1;
    *display: inline;
	padding: 6px 10px;
	text-align: left;
	text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.4);
	text-decoration: none;
	/*font-size: 1.1em;*/
	/*font-family: 'Calibri';*/
	white-space: normal;
	outline: none; 
	/* Transition */
	-moz-transition: all 200ms ease 0ms !important;
	-o-transition: all 200ms ease 0ms !important;
	-webkit-transition: all 200ms ease 0ms !important;
	/* Background Color */
	
	/* Border Rounding */
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	/* Background Clipping */
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	/* Shadow */
	box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-moz-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-webkit-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10x 10px rgba(255,255,255,0.08) inset;
	box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
}


.tbutton100 {
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: content-box !important;
	color: #333;
	width: 98%;
	display: inline-block;
    *zoom: 1;
    *display: inline;
	padding: 6px 10px;
	text-align: center;
	text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.4);
	text-decoration: none;

	white-space: normal;
	outline: none; 
	/* Transition */
	-moz-transition: all 200ms ease 0ms !important;
	-o-transition: all 200ms ease 0ms !important;
	-webkit-transition: all 200ms ease 0ms !important;
	/* Background Color */
	
	/* Border Rounding */
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	/* Background Clipping */
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	/* Shadow */
	box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-moz-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-webkit-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10x 10px rgba(255,255,255,0.08) inset;
	box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
}




.tbutton {
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: content-box !important;
	color: #333;
	width: auto;
	display: inline-block;
    *zoom: 1;
    *display: inline;
	padding: 6px 10px;
	text-align: center;
	text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.4);
	text-decoration: none;

	white-space: normal;
	outline: none; 
	/* Transition */
	-moz-transition: all 200ms ease 0ms !important;
	-o-transition: all 200ms ease 0ms !important;
	-webkit-transition: all 200ms ease 0ms !important;
	/* Background Color */
	background: none repeat scroll 0 0 rgba(255,255,255,0.04);
	/* Border Rounding */
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	/* Background Clipping */
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	/* Shadow */
	box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-moz-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-webkit-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10x 10px rgba(255,255,255,0.08) inset;
	box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
}

input[type='submit'].tbutton, input[type='button'].tbutton, tbutton.tbutton {
	/* Padding Fix */
	padding: 5px 10px;
}

/***** Hovered Button *****/
.tbutton:hover {
	color: #ff0000;
	text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.4);
	/* Shadow */
	box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-moz-box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-webkit-box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
 }


/***** Clicked Button *****/
.tbutton:active {
	color: #eee;
	/* Shadow */
	box-shadow: 0 0 5px rgba(255,255,255,0.1) inset, 0 0 1px rgba(255,255,255,0.2), 0 0 4px rgba(0,0,0,0.4) inset, 0 10px 10px rgba(255,255,255,0.08) inset;
	-moz-box-shadow: 0 0 5px rgba(255,255,255,0.1) inset, 0 0 1px rgba(255,255,255,0.2), 0 0 4px rgba(0,0,0,0.4) inset, 0 10px 10px rgba(255,255,255,0.08) inset;
	-webkit-box-shadow: 0 0 5px rgba(255,255,255,0.1) inset, 0 0 1px rgba(255,255,255,0.2), 0 0 4px rgba(0,0,0,0.4) inset, 0 10px 10px rgba(255,255,255,0.08) inset;
 }



.hr {
	background: #4b545f  no-repeat scroll center;
	margin-left: 15em;
	margin-right: 15em;
	width: 100%;
	height:2px;
}

.hr hr {
	display: none;
}


#top10Panel {
float:right;
margin-right:20px;
}

.top10Users {
border:1px dashed grey;
padding:10px;
margin-bottom:10px;
background-color:#F0F0F1;	
width:300px;
}
.top10Users a:link, .top10Users a:visited {

}
.#top10Panel h2 {
font-size:1.2em;
}


 ul.tree, ul.tree ul {  list-style-type: none; background: url('../images/vline.png') repeat-y; margin: 0; padding: 0; }
 
 ul.tree ul { margin-left: 10px; } 
 ul.tree li { margin: 0; padding: 0 12px; line-height: 20px; background: url('../images/node.png') no-repeat; color: #000033; font-weight: bold; } 
 ul.tree li.last { background: #fff url('../images/lastnode.png') no-repeat; } 
 

#graphstats {

	overflow-x:  scroll;
	overflow-y:  scroll;
} 





#floatbar {
    position:relative;
}

.popup {
    position:absolute;
    top:10px;
    left:0px;
    height:30px;
    background:#ccc;
    display:none;
}



#searchForm{
	/* The search form. */
	background-color: rgb(76, 90, 101);
	padding: 2em 5em 1em;
	margin: 1em;
	position: relative;
	border-radius: 61px 61px 61px 61px;
}
#searchFormh1 {
	font-size: 1.2em;
	color:#ffffff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	overflow:hidden;
	z-index: 2099;
}

fieldset{
	border:none;
}

#searchInputContainer{
	/* This div contains the transparent search box */
	width:420px;
	height:36px;
	background:url("../images/search/searchBox.png") no-repeat;
	float:left;
	margin-right:12px;
}

#s{
	/* The search text box. */
	
	border:none;
	color:#888888;
	background:url("../images/search/searchBox.png") no-repeat;
	display: inline-block;
    *zoom: 1;
    *display: inline;
	font-size:1.2em;
	height: 1.6em;
	outline:medium none;
	padding:0 0 0 0;
	text-shadow:1px 1px 0 white;
	width:auto;
}

/* The UL that contains the search type icons */

.icons{
	list-style:none;
	margin:10px 0 0 335px;
	height:19px;
	position:relative;
}

.icons li{
	background:url("../images/search/icons.png") no-repeat;
	float:left;
	height:19px;
	text-indent:-9999px;
	cursor:pointer;
	margin-right:5px;
}

/* Styling each icon */

li.web{ width:15px;}
li.web.active,
li.web:hover{ background-position:left bottom;}

li.images{ width:22px; background-position:-18px 0;}
li.images.active,
li.images:hover{ background-position:-18px bottom;}

li.news{ width:14px; background-position:-44px 0;}
li.news.active,
li.news:hover{ background-position:-44px bottom;}

li.videos{ width:17px; background-position:right 0;}
li.videos.active,
li.videos:hover{ background-position:right bottom;}

span.arrow{
	/* The little arrow that moves below the icons */
	
	width:11px;
	height:6px;
	margin:21px 0 0 5px;
	position:absolute;
	background:url('../images/search/arrow.png') no-repeat;
	left:0;
}


/* The submit button */


#submitButton{
	background:url('../images/search/buttons.png') no-repeat;
	width:83px;
	height:36px;
	text-indent:-9999px;
	overflow:hidden;
	text-transform:uppercase;
	border:none;
	cursor:pointer;
	display: inline-block;
    *zoom: 1;
    *display: inline;
}

#submitButton:hover{
	background-position:left bottom;
}


/* The Search tutorialzine.com / Search the Web radio buttons */


#searchInContainer{
	float:left;
	margin-top:12px;
	width:330px;
}



input[type=radio]{
	cursor:pointer;
	/*float:left;*/
}


/* Styling the search results */


.pageContainer{
	/* Holds each page with search results. Has an inset bottom border. */
	border-bottom:1px solid #5e7481;
	margin-bottom:50px;
	/* Adding a dark bottom border with box shadow */
	-moz-box-shadow:0 1px 0 #798e9c;
	-webkit-box-shadow:0 1px 0 #798e9c;
	box-shadow:0 1px 0 #798e9c;
}


p.notFound{
	text-align:center;
	padding:0 0 40px;
}


/* Web & news results */


.webResult{ text-shadow:1px 1px 0 #586a75;margin-bottom:50px;}
.webResult h2{ 
	background-color:#5D6F7B;
	font-size:1.3em;
	font-weight:normal;
	padding:8px 20px;
	
	/* Applying CSS3 rounded corners */
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
}
.webResult h2 b{ color:#fff; }
.webResult h2 a{ color:#eee;border:none;}
.webResult p{ line-height:1.5;padding:15px 20px;}
.webResult p b{ color:white;}
.webResult > a{ margin-left:20px;}


/* Image & video search results */


.imageResult{
	float:left;
	height:180px;
	margin:0 0 20px 40px;
	text-align:center;
	width:152px;
	overflow:hidden;
}
.imageResult img{ display:block;border:none;}
.imageResult a.pic{
	border:1px solid #fff;
	outline:1px solid #777;
	display:block;
	margin:0 auto 15px;
}

/* The show more button */

#more{
	width:83px;
	height:24px;
	background:url('../images/search/more.png') no-repeat;
	cursor:pointer;
	margin:40px auto;
}

#more:hover{
	background-position:left bottom;
}

/* Contact Area for emailing */
#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-size: 1.1em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

.centralise {
  width: 50%;
  margin: 0 auto;
}

